<ion-card class="{{pokemon.type}}">

  <ion-card-content>
    <ion-card-title class="number">N° {{pokemon.number}}</ion-card-title>
    <ion-card-title class="name ion-padding-vertical">{{pokemon.name}}</ion-card-title>
    <ion-button [disabled]="true" color="light" shape="round">{{ pokemon.type }}</ion-button>
  </ion-card-content>

  <ion-button [fill]="isFavorite ? 'solid' : 'outline'" (click)="toggleFavorite()" class="favorite-button btn" color="dark" shape="circle">
    <ion-icon [name]="isFavorite ? 'star' : 'star-outline'" slot="icon-only" size="large"></ion-icon>
  </ion-button>

  <img alt="{{pokemon.name}}" src="{{pokemon.photo}}" />

  <ion-router-link [routerLink]="'/pokemon/' + pokemon.number"></ion-router-link>

</ion-card>
