<ion-content>
  <ion-card class="{{pokemon.type}}">
    <div class="pokemon-photo">
      <h2 class="number fw-bold display-1">#{{ pokemon.number }}</h2>
      <ion-img [src]="pokemon.photo" [alt]="pokemon.name"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-title>{{ pokemon.name }}</ion-card-title>
    </ion-card-header>
    <div class="types">
      <ion-chip class="fs-5" *ngFor="let type of pokemon.types">{{type}}</ion-chip>
    </div>
    <ion-card-content>
      <h2 class="fw-bold">About</h2>
      <div class="more-details ion-text-center">
        <article>
          <h5>{{pokemon.species}}</h5>
          <p>Species</p>
        </article>
        <article>
          <h5>{{pokemon.weight}}</h5>
          <p>Weight</p>
        </article>
        <article>
          <h5>{{pokemon.height}}</h5>
          <p>Height</p>
        </article>
        <article>
          <h5>{{pokemon.abilities}}</h5>
          <p>Abilities</p>
        </article>
      </div>
    </ion-card-content>

    <ion-button [fill]="isFavorite ? 'solid' : 'outline'" (click)="toggleFavorite()" class="favorite-button btn-lg" color="dark" shape="circle">
      <ion-icon [name]="isFavorite ? 'star' : 'star-outline'" slot="icon-only" size="large"></ion-icon>
    </ion-button>

  </ion-card>
</ion-content>
