ion-card{
  color: #fff;
  position: relative;
  border-radius: 2rem;
  display: flex;
  flex-direction:column-reverse;
  padding: 3rem;
  align-items: center;
  justify-content:space-between;

  img{
    width: 240px;
    height: 240px;
  }

  ion-card-content{
    ion-button{width: 100%;}
  }

}

ion-card-title.number{
  font-weight: bold;
  font-size: 1.5rem;
  opacity: .5;
}

ion-card-title.name{
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width:768px) {
  ion-card-title.number{
    font-size: 2rem;
  }

  ion-card-title.name{
    font-weight: bold;
    font-size: 3rem;
  }

  ion-card{
    color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    justify-content:space-between;

    ion-card-content{
      ion-button{width: auto;}
    }

  }

}

ion-router-link{
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
