/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.toastr-success {
  --background: var(--ion-color-success); // Define a cor de fundo como vermelho
  color: white; // Define a cor do texto como branco
}

.toastr-danger {
  --background: var(--ion-color-danger); // Define a cor de fundo como vermelho
  color: white; // Define a cor do texto como branco
}

.normal {
  background-color: #a6a877;
  background: linear-gradient(135deg, #1e1e1e 0%, #a6a877 100%);
}

.grass {
  background-color: #77c850;
  background: linear-gradient(135deg, #1e1e1e 0%, #77c850 100%);
}

.fire {
  background-color: #ee7f30;
  background: linear-gradient(135deg, #1e1e1e 0%, #ee7f30 100%);
}

.water {
  background-color: #678fee;
  background: linear-gradient(135deg, #1e1e1e 0%, #678fee 100%);
}

.electric {
  background-color: #f7cf2e;
  background: linear-gradient(135deg, #1e1e1e 0%, #f7cf2e 100%);
}

.ice {
  background-color: #98d5d7;
  background: linear-gradient(135deg, #1e1e1e 0%, #98d5d7 100%);
}

.ground {
  background-color: #dfbf69;
  background: linear-gradient(135deg, #1e1e1e 0%, #dfbf69 100%);
}

.fw-light{ font-weight: 200 !important }
.fw-normal{ font-weight: 500 !important}
.fw-semibold{ font-weight: 600 !important}
.fw-bold{ font-weight: 700 !important}
.fw-extrabold{ font-weight: 800 !important}

@for $i from 1 through 5{

    h#{$i}, .h#{$i}{
        font-size: #{2.5 - ($i * 0.25)}rem !important;
        line-height: 1.2 !important;
        font-weight: normal !important;
    }

    .fs-#{$i}{
        font-size: #{2.5 - ($i * 0.25)}rem !important;
    }

    .display-#{$i}{
        font-size: #{5 - ($i * 0.5)}rem !important;
    }
}

.favorite-button {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 3;
}

ion-button[shape=circle].btn-lg {
  --border-radius: 50%;
  width: 56px;
  height: 56px;
}

ion-button[shape=circle].btn {
  --border-radius: 50%;
  width: 48px;
  height: 48px;
}

ion-button[shape=circle].btn-sm {
  --border-radius: 50%;
  width: 24px;
  height: 24px;
}
