<ion-menu contentId="main-content"  menuId="sidebar" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title [routerLink]="''"><img src="assets/logo.png" alt=""></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-menu-toggle *ngFor="let item of menuItems">
      <ion-item [routerLink]="item.path" routerDirection="root" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <ion-icon [name]="item.icon"  slot="start"></ion-icon>
        {{item.title}}
      </ion-item>
    </ion-menu-toggle>

  </ion-content>
</ion-menu>
