<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title><img src="assets/logo.png" alt=""></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-router-link [routerLink]="''">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-router-link>
    </ion-item>
    <ion-item>
      <ion-router-link [routerLink]="'favorites'">
        <ion-icon name="star"></ion-icon>
        Favorites
      </ion-router-link>
    </ion-item>
  </ion-content>
</ion-menu>
